<h1>Ask Me!</h1>
<a href="/about">about page</a>
<!-- pass @user to the partial -->
<%= render :partial => "/users/signup_form", :locals => {:user => @user} %>

<%= render :partial => "/sessions/sign_in", :locals => {:user => @user} %>
